.userActions {
    display: flex;
    margin-right: 320px;
    position: relative;
}

.userActions button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.userActions button span.loginText{
    font-size: 20px;
    margin-left: 54px;
    margin-top: -45px;
    font-weight: bold;
    display: block;
}

.userActions button span.atvCashback {
    font-size: 12px !important;
    font-style: italic;
    color: #474545;
    font-size: 10px;
    margin-top: -15px;
    margin-left: 54px;
    display: block;
}

.alerts{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    position: relative;
}

.alerts::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 0%;
    height: 2px;
    background-color: #F27BBD;
    transition: width ease 0.3s;
}

.alerts:hover::after{
    width: 100%;
}