.amazonSection{
    justify-content: flex-start;
}

.produtosAmazon{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    margin: 0 auto;
    flex-wrap: wrap;
    max-width: 1200px;
}