.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #023b92;
    padding: 10px 20px;
    color: white;
    gap: 30px;
   
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 70px; 
    z-index: 1000; 
}

@media (max-width: 1067px) {
    .navbar{
        padding: 70px 0 0 ;
    }
}