.storeList{
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.storeLink{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: 500;
    position: relative;
}

.storeLogo{
    width: 64px;
}

.storeLink:hover{
    font-weight: bold;
}

.storeLink::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: black;
    transition: width ease 0.3s;
}

.storeLink:hover::after{
    width: 100%;
}

