.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    flex-wrap: wrap;
    background-color: #023b92;
    padding: 10px 0;
    margin-top: 90px;

    position: relative;
    top: 0px; 
    width: 100vw;
    z-index: 999;
    transition: top 0.3s;
}

.menu.hidden {
    top: 0px;
    transform: translateY(-100%);
}

.menu a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
    display: flex;
    align-items: center;
    gap: 8px;
}

.menu a:hover {
    padding: 5px;
    border-radius: 25px;
    background-color: #F27BBD;;
    color: white;
}