.searchBar {
    display: flex;
    margin-left: 100px;
}

.searchBar select, .searchBar input, .searchBar button {
    width: 250px;
    padding: 20px;
    border: none;
    outline: none;
}

.searchBar select {
    font-size: 15px;
    font-weight: bold;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    transition: 1s;

    text-align: start;
}

.searchBar input {
    font-size: 15px;
}

.searchBar button {
    width: 75px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

@media (max-width: 1020px) {
    .searchBar {
        display: flex;
        margin-left: 10%;
        width: 150%;
    }
}