.footerContainer{
    background-color: #023b92;
    padding: 25px 61px;
}

.highFooter{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 300px;
}

.destaques{
    display: flex;
    flex-direction: column;
}

.destaquesItems{
    text-decoration: none;
    font-weight: 500;
    color: white;
    margin-top: 5px;
    position: relative;
}

.destaquesItems:hover {
    font-weight: bold;
}


.destaquesItems::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: #FF66C4;
    transition: width ease 0.3s;
}

.destaquesItems:hover::after{
    width: 100%;
}

.destaques h3{
    color: #FF66C4;
}

.infos{
    display: flex;
    flex-direction: column;
}

.infos{
    color: #FF66C4;
}

.helpGuide{
    margin-top: -100px;
    color: #FF66C4;
}

.helpButton{
    padding: 8px 16px;
    text-decoration: none;
    color: #FFFF;
    font-weight: 600;
    border: 2px solid white;
    border-radius: 15px;
    cursor: pointer;
}

.helpButton:hover{
   color: #FF66C4;
   border-color: #FF66C4;
   transition: 0.3s;
}

.lineFooter{
    margin: 25px 10% 20px 10%;
}

.lowFooter{
    color: white;
    margin-left: 10%;
}