.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    flex-wrap: wrap;
    background-color: #023b92;
    padding: 10px 0;
    margin-top: 90px;

    position: relative;
    top: 0px; 
    width: 100vw;
    z-index: 999;
    transition: top 0.3s;
}

.menu.hidden {
    top: 0px;
    transform: translateY(-100%);
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: 0.3s;
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
}

.menu a:hover{
    font-weight: bold;
}

.menu a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 2px;
    background-color: #F27BBD;
    transition: ease 0.3s;
}

.menu a:hover::after{
    width: 100%;
}

@media (max-width: 1020px) {
    .menu{
        margin-top: 130px;
        gap: 15px;
        width: 115%;
    }
}

/* .menu a:hover {
    padding: 5px;
    border-radius: 25px;
    background-color: #F27BBD;;
    color: white;
} */