.carousel-full-width{
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.titlePage{
    margin-left: 221px;
    margin-top: 71px;
}