.loginButton {
    width: 222px;
    height: 60px;
    background-color: #cfd9ec !important;
    border-radius: 50px;
    padding: 8px;
    color: #000 !important;
    text-align: left;
    transition: width 0.3s, height 0.3s;
}

.loginButton:hover {
    width: 240px;
    height: 60px;
}

.loginImage {
    margin-top: -10px !important;
    display: block;
}

.loginText{
    margin-top: -42px !important;
    font-size: 20px !important;
}

.atvCashback:hover{
    text-decoration: underline;
}