.carousel-wrapper{
    margin-top: 43px;
    width: 100%;
    padding: 20px 0;
    overflow: visible;
    box-sizing: border-box;
}

.keen-slider__slide{
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-image{
    width: 100%;
    object-fit: cover;
    display: block;
}

@media (max-width: 768px) {
    .banner-image{
        width: 250%;
        object-fit: cover;
        display: block;
    }
}